{% extends "base.html" %}
{% block body %} 
<div class="col justify-content-start">
<a href="{{url_for('home')}}">
<img src="{{url_for('static',filename="images/arrow.png")}}" width="60px" height="30px">
</a>
</div>
<h1>Notifications</h1>
<div class="container p-2">
 {% if val %}
  {% for v in val %}
   {% set cc=last_comment(v[0]) %}
   {% set ll=last_like(v[0]) %}
    {% if cc %}
     {% for c in cc%}
     <div class="row p-2">
      <a href="{{url_for('comment',post_id=c[2])}}"><p>{{commentor(c[1])}} commented on your post</p></a>
     </div>
     {% endfor %}
    {% endif %}
    {% if ll %} 
     {% for l in ll%}
     <div class="row p-2">
      <a href="{{url_for('comment',post_id=l[1])}}"><p>{{commentor(l[0])}} liked your post</p></a> 
     </div>
     {% endfor %}
    {% endif %}
  {% endfor %}
 {% endif %}
 {% if val1 %}
  {% for v in val1 %}
   {% set lcc=last_likecomment(v[0]) %}
   {%if lcc %} 
    {% for lc in lcc%}
     <div class="row p-2">
      <a href="{{url_for('comment',post_id=commentid(lc[1]))}}"><p>{{commentor(lc[0])}} liked your comment</p></a>
     </div>
    {% endfor %}
   {% endif %}
  {% endfor %}
 {% endif %}
 {% if val2 %}
  {% for v in val2 %}
   {% set user=pro(v[0]) %}
   
     <div class="row p-2">
      <a href="{{url_for('profile',username=user[1])}}"><p>{{user[3]}} accepted your friend request</p></a>
     </div>
    
  {% endfor %}
 {% endif %}
</div>
{% endblock %} 
