{% extends 'home.html' %}
{% block body %}
<br>
<br>
<br>
<br>
<div class="container">
<div class="row">

<div class="col-4" >
<img class="rounded-circle border img-fluid" style="height:350px;weight:350px;" src="{{url_for('static',filename='uploads/'+filename)}}">
</div>

<div class="col-8">

<div class="row align-items-center">
<div class="d-inline-flex">
{% if username!=current_user %}
<h1>{{username}}</h1>
{% else %}
<h1>{{current_user}}</h1>
{% endif %}
</div>

<div class="col-3">
{% if username==current_user %}
<a href="{{url_for('update',username=username,filename=filename,name=name,bio=bio,phone=phone,gender=gender)}}">Update Profile</a>
{% else %}
{% if isfollowings %}
<a href="{{url_for('unfollow',username=username)}}">unfollow</a>
{% else %}
<a href="{{url_for('follow',username=username)}}">follow</a>
{% endif %}
{% endif %}
</div>
{% if friend(current_id,user_id) %}
<div class="col-2">
<a href="{{url_for('message',from_id=current_id,to_id=user_id,flag=1)}}">Message</a>
</div>
{% endif %}
</div>
<br>

<div class="row">
{% if npost!="" %}
<div class="col-3">
<p>posts:{{npost}}</p>
</div>
{% endif %}

<div class="col-3">
<a href="{{url_for('follower',username=username)}}"><p>follower:{{follower}}</p></a>
</div>

<div class="col-3">
<a href="{{url_for('following',username=username)}}"><p>following:{{following}}</p></a>
</div>
</div>

<div class="row">
{% if username!=current_user %}
<h3>Name:{{nameus}}</h3>
{% else %}
<h3>Name:{{namecr}}</h3>
{% endif %}
</div>
{% if bio!="" %}
<div class="row">
{% autoescape false %}
<p>about:{{bio|replace("\n","<br/>")}}</p>
{% endautoescape %}
</div>
{% endif %}

</div>

</div>
</div>
<br>
<hr>
<div class="text-center">
<h1>POSTS</h1>
</div>
<hr>
<div class="row">
{% if posts !="" %}
{% for post in posts %}

<div class="col-4 px-md-5 pb-md-5">
<div class="p-3 border bg-light">
<a href="{{url_for('comment',post_id=post[0])}}">
{% if post[5] %}
 {% if isimage(post[5]) %}
  <img class="border img-fluid"  style="width:100%;height:350px;" src="{{url_for('static',filename='uploads/'+post[5])}}">
 {% else %}
  <video  width="100%" height="350"  controls>
   <source src="{{url_for('static',filename='uploads/'+post[5])}}" type="video/mp4"/>
  </video>
 {% endif %}
{% endif %}
<br>
{% if post[1] %}
<p>{{post[1]}}</p>
{% endif %}
</a>
</div>
</div>

{% endfor %}
{% endif %}

</div>
</div>
{% endblock %}