{% extends 'home.html' %}
{% block body %}
<div class="container">
 <div class="row">
  <div class="col-xs-6 col-md-6 mh-100">
   {% if post[5] %}
    {% if isimage(post[5]) %}
     <img class="border img-fluid mw-100 mh-100 " src="{{url_for('static',filename='uploads/'+post[5])}}">
    {% else %}
     <video  class="mw-100 mh-100"  controls>
      <source src="{{url_for('static',filename='uploads/'+post[5])}}" type="video/mp4"/>
     </video>
    {% endif %}
   {% endif %}
  </div>
  <div class="col-xs-6" style="padding-bottom:120px;">
   {% set postor=commentor(post[4])%}
   {% if postor[6] %}
    {% set fm=postor[6] %}
   {% else %}
    {% set fm="default.jpeg" %}
   {% endif %}
   <div class="row">
    <div class="col-xs-2 p-xs-2">
     <img class="rounded-circle border img-fluid " style="width:60px;height:60px;"  src="{{url_for('static',filename='uploads/'+fm)}}">
    </div>
    <br>
    {% if post[1] %}
     <div class="col-xs">
      <p class="text-dark">{{post[1]}}</p>
     </div>
    {% endif %}
   </div>
   <br>
   <hr>
   {% if comments %}
    {% for comment in comments %}
     {% set author=commentor(comment[1]) %}
      <div class="row">
       <div class="col-xs-2 px-xs-2">
        <img class="border img-fluid"  style="width:90px;height:90px;" src="{{url_for('static',filename='uploads/'+author[6])}}">
       </div>
       <div class="col">
        <div class="d-sm-inline-flex p-xs-2">
         {{author[3]}}
        </div>
        <div class="d-sm-inline-flex p-xs-2">
         {{tim(comment[4])}}
        </div>
        <br>
        <div class="justify-content-xs-end bg-light">
         {% autoescape false %}
          <p class="text-muted">{{comment[3]|replace("/n","<br/>")}}</p>
         {% endautoescape %}
        </div>
       </div>
      </div>
      <div class="container">
       <div class="row">
        <div class="col-xs-2 p-2">
         {% if comment[1]==user_id %}
          <a href="{{url_for('deletecomment',comment_id=comment[0])}}"><span><p>delete</p></span></a>
         {% endif %}
        </div>
        {% set liked=likedchecker(user_id,comment[0]) %}
       <div class="col-xs-2">
        {% if liked %}
         <button class="likecomment{{comment[0]}} btn btn-link" onclick="comment_unlike('{{comment[0]}}')">Unlike</button>
        {% else %}
         <button class="likecomment{{comment[0]}} btn btn-link" onclick="comment_like('{{comment[0]}}')">Like</button>
        {% endif %}
       </div>
       <div class="col-xs-2 p-2">
        {% if comment[6] is not none %}
         <p>Likes:<span id="likescomment{{comment[0]}}">{{comment[6]}}</span></p>
        {% else %}
         <p>Likes:<span id="likescomment{{comment[0]}}"></span></p>
        {% endif %}
       </div>
      </div>
     </div>
     <br>
    {% endfor %}
   {% endif %}
  </div>
 </div>
</div>

<div class="container fixed-bottom">
 <div class="col-xs-5 float-right">
  <form  method="post">
   <div class="form-group row">
    <textarea class="form-control" id="textarea1" rows="1" name="tx" ></textarea>
    <button  type="submit" class="btn btn-primary">Comment</button>
   </div>
  </form>
 </div>
</div>

{% endblock %}
{% block script %}
<script>
function comment_like(comment_id){

 $.ajax({url:"{{url_for('likescomment')}}",data:{commentid:comment_id},
success:function(data){
  if (data.result=="success"){
    $(".likecomment"+comment_id).text("Unlike");
    $(".likecomment"+comment_id).attr("onclick","comment_unlike('"+comment_id+"')");
    $("#likescomment"+comment_id).text(data.likes);

}
}
});
}
function comment_unlike(comment_id){
 $.ajax({url:"{{url_for('unlikescomment')}}",data:{commentid:comment_id},
success:function(data){
  if (data.result=="success"){
    $(".likecomment"+comment_id).text("Like");
    $(".likecomment"+comment_id).attr("onclick","comment_like('"+comment_id+"')");
    $("#likescomment"+comment_id).text(data.likes);

}
}
});
}
</script>
{% endblock %}
